<div class="stores">
	<div class="container">
		<div class="stores__title">
			<p>Рестораны в Москве</p>
		</div>

		<div class="card">

			<div class="card__item">
				<img class="card__img" src="img/stores/mcdonalds.png" alt="">
				<div class="card__title">
					<a href="restaurant.html">Макдоналдс — Газетный</a>
				</div>
				<div class="card__text">₽₽ • Бургеры</div>
				<div class="card__time">25 - 35 мин</div>
			</div> <!-- /.card__item -->

			<div class="card__item">
				<img class="card__img" src="img/stores/dimsum.png" alt="">
				<div class="card__title">
					<a href="restaurant.html">DimSum & Co — ЦДМ</a>
				</div>
				<div class="card__text">₽ • Японская • Китайская • Азиатская</div>
				<div class="card__time">40 - 50 мин</div>
			</div> <!-- /.card__item -->

			<div class="card__item">
				<img class="card__img" src="img/stores/dvigok.png" alt="">
				<div class="card__title">
					<a href="restaurant.html">ДвижОК — Манежная</a>
				</div>
				<div class="card__text">₽ • Американская • Европейская</div>
				<div class="card__time">35 - 45 мин</div>
			</div> <!-- /.card__item -->

			<div class="card__item">
				<img class="card__img" src="img/stores/nyanha.png" alt="">
				<div class="card__title">
					<a href="restaurant.html">НЯ — NHA</a>
				</div>
				<div class="card__text">₽₽ • Вьетнамская</div>
				<div class="card__time">30 - 40 мин</div>
			</div> <!-- /.card__item -->

			<div class="card__item">
				<img class="card__img" src="img/stores/tochkadzi.png" alt="">
				<div class="card__title">
					<a href="restaurant.html">Точка Дзы — Цветной</a>
				</div>
				<div class="card__text">₽₽ • Вьетнамская</div>
				<div class="card__time">40 - 50 мин</div>
			</div> <!-- /.card__item -->

			<div class="card__item">
				<img class="card__img" src="img/stores/cinnabon.png" alt="">
				<div class="card__title">
					<a href="restaurant.html">Cinnabon</a>
				</div>
				<div class="card__text">₽ • Выпечка • Десерты • Капкейки</div>
				<div class="card__time">25 - 35 мин</div>
			</div> <!-- /.card__item -->

			<div class="card__item">
				<img class="card__img" src="img/stores/pizzelove.png" alt="">
				<div class="card__title">
					<a href="restaurant.html">PIZZELOVE</a>
				</div>
				<div class="card__text">₽₽ • Пицца</div>
				<div class="card__time">15 - 25 мин</div>
			</div> <!-- /.card__item -->

			<div class="card__item">
				<img class="card__img" src="img/stores/zu.png" alt="">
				<div class="card__title">
					<a href="restaurant.html">Zю кафе — Тверская</a>
				</div>
				<div class="card__text">₽₽ • Японская</div>
				<div class="card__time">25 - 35 мин</div>
			</div> <!-- /.card__item -->

			<div class="card__item">
				<img class="card__img" src="img/stores/barbq.png" alt="">
				<div class="card__title">
					<a href="restaurant.html">Bar BQ Cafe — Манежная</a>
				</div>
				<div class="card__text">₽₽₽ • Европейская</div>
				<div class="card__time">30 - 40 мин</div>
			</div> <!-- /.card__item -->

		</div> <!-- /.card -->


	</div> <!-- /.container -->
</div> <!-- /.stores -->
