<header class="header">
	<div class="container">
		<div class="header__group">

			<div class="header__logo">
				<a href="index.html"><img src="img/logo.svg" alt=""></a>
			</div>

			<div class="header__item">
				<div class="header__btn">
					<a class="header__link" href="#">Войти</a>
				</div>

				<div class="header__icon">
					<a class="header__basket" href="#"><img src="img/basket.svg" alt=""></a>
				</div>
			</div>

		</div> <!-- /.header__group -->
	</div> <!-- /.container -->
</header>
