<div class="restaurant">
	<div class="container">

		<p class="restaurant__title">Закуски</p>
		<hr class="restaurant__line">

		<div class="res-card">
			<div class="res-menu">
				<div class="res-menu__item">
					<p class="res-menu__title">Сельдь на бородинском хлебе</p>
					<p class="res-menu__text">С яйцом и огурцом</p>
					<p class="res-menu__price">240 ₽</p>
				</div> <!-- /.res-menu__item -->
				<div class="res-menu__img">
					<img src="img/restaurant/seld.png" alt="">
				</div>
			</div> <!-- /.res-menu -->

			<div class="res-menu">
				<div class="res-menu__item">
					<p class="res-menu__title">Соленья ассорти</p>
					<p class="res-menu__price  res-menu__price--fix">320 ₽</p>
				</div> <!-- /.res-menu__item -->
				<div class="res-menu__img">
					<img src="img/restaurant/solenya.png" alt="">
				</div>
			</div> <!-- /.res-menu -->

			<div class="res-menu">
				<div class="res-menu__item">
					<p class="res-menu__title">Грибы маринованные</p>
					<p class="res-menu__price  res-menu__price--fix">300 ₽</p>
				</div> <!-- /.res-menu__item -->
				<div class="res-menu__img">
					<img src="img/restaurant/gribi.png" alt="">
				</div>
			</div> <!-- /.res-menu -->

			<div class="res-menu">
				<div class="res-menu__item">
					<p class="res-menu__title">Сало домашнее с горчицей</p>
					<p class="res-menu__price  res-menu__price--fix">320 ₽</p>
				</div> <!-- /.res-menu__item -->
				<div class="res-menu__img">
					<img src="img/restaurant/salo.png" alt="">
				</div>
			</div> <!-- /.res-menu -->

			<div class="res-menu">
				<div class="res-menu__item">
					<p class="res-menu__title">Малосольная семга</p>
					<p class="res-menu__price  res-menu__price--fix">390 ₽</p>
				</div> <!-- /.res-menu__item -->
				<div class="res-menu__img">
					<img src="img/restaurant/semga.png" alt="">
				</div>
			</div> <!-- /.res-menu -->

			<div class="res-menu">
				<div class="res-menu__item">
					<p class="res-menu__title">Язык говяжий с хреном</p>
					<p class="res-menu__price  res-menu__price--fix">350 ₽</p>
				</div> <!-- /.res-menu__item -->
				<div class="res-menu__img">
					<img src="img/restaurant/yazik.png" alt="">
				</div>
			</div> <!-- /.res-menu -->

		</div> <!-- /.res-card -->

	</div> <!-- /.container -->
</div> <!-- /.restaurant -->
